body {
    
    color: black;
    font-weight: 400;
    }

    .navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    }
    .footer {
       
        padding: 2em;
    }
    .bg-darke{
        height: 80vh;
        background-size: cover;
    }

    .px-3{
        padding-right: 1rem!important;
        padding-left: 1rem!important;
        display: block;
    }
    .lead{
        font-size: 1.25rem;
        font-weight: 300;
       
    }
    .tst{
        background: #333 !important;
        opacity: 0.9; width: 100vw;
    }
    .tst
    .cover-container {
        max-width: 42em;
        padding-top: 2%;
    }
    .p-3 {
        padding: 1rem!important;
    }
    .mx-auto {
        margin-right: auto!important;
        margin-left: auto!important;
    }
    .flex-column {
        flex-direction: column!important;
    }
    .h-100 {
        height: 100%!important;
    }
    .w-100 {
        width: 100%!important;
    }
    .d-flex {
        display: flex!important;
    }
    h1 {
        font-size: calc(1.375rem + 1.5vw);
    }
    .btn-secondary, .btn-secondary:hover, .btn-secondary:focus {
        color: #333;
        text-shadow: none;
    }
    .bg-white {
        background-color: #fff!important;
    }
    .fw-bold {
        font-weight: 700!important;
    }
    .border-white {
        border-color: #fff!important;
    }
    .btn-group-lg>.btn, .btn-lg {
        padding: .5rem 1rem;
        font-size: 1.25rem;
        border-radius: .3rem;
    }
    .flex-shrink-0{
        height: 100vh;
    }