<div class="container-fluid">
    <div class="row">
        <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse ">
            <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" >
                        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                        <span class="fs-4">SafeExchange</span>
                        </a>
                        <hr>
                        <ul class="nav nav-pills flex-column mb-auto">
                        
                        <li class="nav-item">
                            <a [routerLink]="['/dashboard']" routerLinkActive="active" class="nav-link text-white">
                                <i class="fa fa-th"></i>
                            Dashboard
                            </a>
                        </li>
                        <li>
                            <a  class="nav-link text-white">
                            
                            <i class="fas fa-shopping-cart"></i>
                            Commandes
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/produits']" routerLinkActive="active" class="nav-link text-white">
                                <i class="fas fa-th-large"></i>
                            Produis
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-white">
                            <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                            
                            </a>
                        </li>
                        </ul>
                        <hr>
                        <div class="dropdown">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                            <strong>mdo</strong>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                            <li><a class="dropdown-item" href="#">New project...</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ul>
                        </div>
                    </div>
        </nav>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 offset-3">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Produits</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                  <div class="btn-group me-2">
                    <a  [routerLink]="['/form-produit']" class="btn btn-sm btn-outline-secondary ">Nouveau produit</a>
                     </div>
                  <div class="btn-group me-2">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Voir Catégories</button>
                  </div>
                  <button type="button" class="btn btn-sm btn-outline-secondary ">
                    Ajouter les attributs
                  </button>
                </div>
              </div>
            <div class="card mb-2" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../assets/params/images/background/bg-01.jpg" width="100%" height="100%" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Nom du produit</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-muted">Prix: 12 000xaf</small></p>
                      <p class="card-text"><small class="text-muted">Statut: Stock disponible</small></p>
                    </div>
                    <div class="action ">
                        <button type="button" class="btn btn-sm btn-outline-secondary ">Editer</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary ">Previsualise</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary ">Publier</button>
                    </div>
                  </div>
                </div>
              </div>
           
        </main>
    </div>

</div>






       