<div class="container">
    <header class="d-flex flex-wrap flex-wrap  align-items-center justify-content-center justify-content-md-between  py-3 mb-4  border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
       <b style="color: brown;">Safe</b><b style="color: black;">Exchange</b>
      </a>
  
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a [routerLink]="['/']"  class="nav-link px-2 link-secondary">Accueil</a></li>
        <li><a [routerLink]="['/about']" class="nav-link px-2 link-dark">Apropos</a></li>
        <li><a [routerLink]="['/contact']" class="nav-link px-2 link-dark">Contact</a></li>
      </ul>
  
      <div class="col-md-3 text-end">
        <a [routerLink]="['/login']" class="btn btn-outline-primary me-2">Connexion</a>
        <a [routerLink]="['/register']" class="btn btn-primary">Inscription</a>
      </div>
    </header>
  </div>
  
<div class="d-flex  text-center text-white bg-darke" style=" background-image: url('../../assets/params/images/background/bg-01.jpg') ;">
   <div class="tst">
       <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <main class="px-3">
                <h1>Cover your page.</h1>
                <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
                <p class="lead">
                <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
                </p>       
            </main>
        </div>
   </div>
    
</div>

